* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    padding: 1em;
    color: #3C3C3C;
}

.checkout-heading {
    color: whitesmoke;
}

h2, h3 {
    padding: 1em 0 .5em;
}

p {
    padding-bottom: 1em;
}

.products-container{
    width: 100%;
    max-width: 55em;
    padding: 1.5em;
}

.cart-container {
    display: flex;
}

.checkout-container {
    max-width: 32em;
    padding: 2em;
    background: #3C3C3C;
    border-radius: 15px;
}

.products, .cart {
    display: flex;
    flex-wrap: wrap;
}

.products > div {
    background: #f5f5f5;
    margin: 1em;
    padding: 2em;
    border-radius: 15px;
}

.products > div img {
    max-width: 175px;
    height: auto;
}

.products > div h3 {
    font-weight: 800;
    color: #3C3C3C;
}

.cart > div {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 1em;
    padding: 1.5em;
}

.checkout-container {
    max-width: 32em;
}

.checkout {
    margin-bottom: 4em;
}

button {
    border: none;
    background: #636363;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 1em;
    transition: .2s ease all;
    text-transform: uppercase;
    border-radius: 5px;
}

button.pay {
    background: linear-gradient(150deg, #D8E547, #56D388);
    color: #3C3C3C;
    vertical-align: middle;
    width: 300px;
    position: relative;
    top: 4em;
}

button:hover {
    background: #56D388;
    color: #3C3C3C;
    cursor: pointer;
}

.received {
    font-size: 1.3em;
    font-weight: 500;
    color: #3C3C3C;
    padding: 0.3em;
    vertical-align: middle;
    border: 0;
    border-radius: 8px;
}

.receipt_heading {
    position: relative;
    top: 4em;
    color: white;
}

.pay-summary {
    color: white;
    font-weight: 500;
    position: relative;
    top: 5em;
}

.cart-total, .cart-total-heading {
    color: white;
}